name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Lint commits
        run: bunx commitlint --from origin/main --to HEAD

      - name: Lint code (Biome)
        run: bun run biome:check

      - name: Run tests
        run: bun run test

      # Skip this for now
      # - name: Build packages
      #   run: bun run build
